<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-config.dtd">  
<!-- 配置管理器 -->  
<configuration>
	<!-- 设置使用的日志类型 -->
	<settings>
        <setting name="logImpl" value="LOG4J2"/>
    </settings>
</configuration>